<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | Solo App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Familiarizing myself with building an app on rails. 
    </p>
  </body>
</html>
