<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | Solo App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      No one can help you.
    </p>
  </body>
</html>
